<h2 class="text-center" style="border-bottom: 2px solid #0dcaf0;">Update User</h2>
<form [formGroup]="userEditFormGroup">
    <div class="row">
        <div class="form-group col-md-6">
            <label for="name">User Name:</label>
            <input type="text" [ngClass]="{'red-border': !userEditFormGroup.value.name}" formControlName="name" class="form-control" placeholder="Enter User Name" id="name">
        </div>
        <div class="form-group col-md-6">
            <label for="email">Email:</label>
            <input type="email" [ngClass]="{'red-border': !userEditFormGroup.value.email}" formControlName="email" class="form-control" placeholder="Enter Email" id="email">
        </div>
        <div class="form-group col-md-6">
            <label for="pnum">Phone Number:</label>
            <input type="text" [ngClass]="{'red-border': !userEditFormGroup.value.phone}" formControlName="phone" class="form-control" placeholder="Enter Phone Number" id="pnum">
        </div>
        <div class="form-group col-md-6">
            <label for="website">Web Site:</label>
            <input type="text" formControlName="website" class="form-control" placeholder="Enter Web Site (optional)" id="website">
        </div>
    </div>
    <button type="button" class="btn btn-outline-info" (click)="onUpdate('update')">Update</button>
    <button type="button" class="btn btn-outline-secondary" style="margin-left: 1%;" (click)="onUpdate('cancel')">Cancel</button>
    <hr>
</form>
