<div class="container">
  <h2 class="text-center" style="border-bottom: 1px solid #ffc107;">User Application</h2>
  <div class="card">
    <div class="card-header bg-info">
      <nav class="navbar navbar-expand-sm navbar-light">
        <div class="collapse navbar-collapse header-nav" id="navbarNav">
          <ul class="navbar-nav" >
            <li class="nav-item" *ngFor="let item of navigationDetails">
              <a class="nav-link" [routerLinkActive]="['is-active']" [routerLink]="[item.link]">
                {{item.name}}
              </a >
            </li>
          </ul>
        </div>
    </nav>
    </div>
    <div class="card-body card-height">
      <router-outlet></router-outlet>
    </div> 
  </div>
</div>
